.cont {
  display: flex;
  flex-direction: column;
  width: 99.5vw !important;
  min-height: 99.5vh;
  max-height: 99.5vh;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.gjs-editor-wrapper:has(.active-menu) .cont {
  width: calc(100vw - 250px) !important;
}

.props {
  width: 250px;
  height: 99.5vh;
  position: fixed;
  right: -250px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.active-menu {
  right: 0px !important;
  color: var(--color);
  z-index: 2;
}

.header {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  display: flex;
  gap: 16px;
  padding: 12px 24px;
  justify-content: space-between;
  padding-right: 8px !important;
}

.buttons {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  padding: 2px;
  display: flex;
  gap: 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.tabbar {
  display: flex;
  padding: 12px 18px;
  justify-content: space-between;
}
.tabbar button {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  
  color: var(--color-t);
  padding: 8px 14px;
  width: max-content;
  border-radius: 8px;
  font-size: 18px;
}

.buttons button {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  font-size: 20px;
  padding: 6px 16px;
  color: var(--color-t);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.buttons button:hover,
.config button:hover, .tabbar button:hover {
  opacity: 0.6;
}
.buttons button.active,
.buttons button:hover,
.config button:hover,
.config button.active, .tabbar button:hover, .tabbar button.active {
  color: var(--color) !important;
  background: var(--button) !important;
}

.config, .tabbar {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  display: flex;
  gap: 8px;
}

.config button {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;

  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.block-box {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  cursor: pointer;
  background:var(--button);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  transition: 0.2s ease-in-out;
}

#icon {
  font-size: 24px;
  width: 24px;
}

.block-container .block-box:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.block-container .block-box:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.block-container:hover .block-box {
  opacity: 0.4;
}

.block-box:hover {
  opacity: 1 !important;
}