@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--root-font);
}

:root {
  --left: #262626;
  --right: #131313;

  --light: #252525;
  --gjs-primary-color: #131313 !important;

  --code-editor: rgba(34, 34, 34, 0.611);
  --button: rgba(54, 54, 54, 0.54);
  --color: #e7e7e7;
  --color-t: rgba(231, 231, 231, 0.6);

  --red: #ef4444;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  background: linear-gradient(135deg, var(--left), var(--right))
}

iframe {
  border-radius: 12px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.header h1,
.header h2,
.header h3,
.header p,
.header span,
.header button,
.header a {
  color: var(--color);
}

#layer-manager, #style-manager, #block-manager {
  height: 91vh;
  overflow:auto;
}

#style-manager {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#layer-manager {
  margin-right: 6px;
}