.Dropdown-root {
  height: fit-content !important;
}
.box-composite .field-box {
  max-width: 40px !important;
}
.box-composite input {
  background-color: transparent !important;
  text-align: center;
  max-width: 40px !important;
}

.center-block {
  background: var(--right);
  border-radius: 8px;
  scale: 1.13;
  height: 72px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.box-composite {
  background-color: var(--left);
  align-items: center;
  justify-items: center;
  border-radius: 26px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
button[data-testid="flowbite-dropdown-target"] {
  cursor: pointer;
  border-radius: 8px !important;
  background: var(--code-editor) !important;
  padding: 5px 12px !important;
  color: var(--color) !important;
  font-weight: 500;
  max-width: 150px;
  font-size: 14px;
  border: 0px none !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

button[data-testid="flowbite-dropdown-target"] span {
  align-items: center;

  padding: 0px 6px !important;
  padding-left: 0px !important;
  gap: 6px;
}
button[data-testid="flowbite-dropdown-target"]:hover {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}
div[data-testid="flowbite-dropdown"] ul {
  overflow: auto;
  max-height: 300px;
  padding: 0px !important;
}
div[data-testid="flowbite-dropdown"] {
  z-index: 2;
  font-size: 14px;
  min-width: 150px !important;

  border-radius: 12px;
  padding: 6px;
  margin-top: 8px !important;
  background: var(--right) !important;
  color: var(--color-t);
  font-weight: 500;
  border: 0px none !important;
  padding: 6px;
  left: -5px !important;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div[data-testid="flowbite-dropdown"] ul li button {
  color: var(--color-t) !important;
  border-radius: 6px;
}

div[data-testid="flowbite-dropdown"] ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div[data-testid="flowbite-dropdown"] ul li button:hover {
  color: var(--color-t) !important;
  background: var(--button) !important;
  opacity: 0.8;
}

.active-drop {
  color: var(--color) !important;
  background: var(--button) !important;
}

input {
  background-color: transparent;
}
.props input[type="text"] {
  background: var(--code-editor);
  border: none;
  outline: none;
  padding: 4px 8px;
  color: var(--color);
  font-size: 14px;
  max-width: 80px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


#selector-manager input {
  background: var(--code-editor);
  border: none;
  outline: none;
  padding: 4px 8px;
  color: var(--color);
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.input_rgba-wrap input {
  background: var(--code-editor) !important;
  border: none !important;
  outline: none !important;
  color: var(--color) !important;
  box-shadow: none !important;
  font-size: 14px !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}

.swatch {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid var(--light);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.popover {
  position: absolute;
  top: 12%;
  z-index: 100;
  left: initial;
  right: 250px;
}
.popup_tabs-header {
  padding: 4px !important;
  align-items: center !important;
}
.default-color-panel_item {
  border-radius: 8px !important;
  box-shadow: none !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
.popup_tabs-header-label {
  height: 40px !important;
  border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -ms-border-radius: 24px !important;
  -o-border-radius: 24px !important;
}
.popup_tabs,
.popup_tabs-header {
  border-radius: 22px !important;
  -webkit-border-radius: 22px !important;
  -moz-border-radius: 22px !important;
  -ms-border-radius: 22px !important;
  -o-border-radius: 22px !important;
}
.popup_tabs,
.colorpicker,
.color-picker-panel,
.input_rgba,
.popup_tabs-header {
  background-color: var(--light) !important;
}

.input_rgba-label,
.popup_tabs-header-label {
  color: var(--color-t) !important;
}
.popup_tabs-header-label-active {
  background-color: var(--button) !important;
  color: var(--color) !important;
}
.popover input {
  max-width: fit-content !important;
}

input[type="range"] {
  height: 15px;
  min-width: 200px;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: var(--light);
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: var(--light);
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: var(--light);
  border-radius: 50%;
  border: 2px solid var(--accent);
  box-shadow: -407px 0 0 400px var(--accent);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--light);
  border-radius: 50%;
  border: 1px solid var(--accent);
  box-shadow: -407px 0 0 400px var(--accent);
}
.classbox {
  width: 96%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border: 2px solid #36363631;
}

.selectors {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.selector-badge {
  display: flex;
  font-size: 14px;
  background: var(--light);
  padding: 4px 8px;
  gap: 4px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.selector-badge svg {
  color: var(--red);
}
